<html>
<head>
    <title>Beep Boop!</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC">

    <script>
        function beepboop() {
            fetch("/api/push", {method: "POST"});
            alert("Beep Boop!")
        }
    </script>
</head>
<body>
    <div class="container" style="padding-top: 20pt; max-width: 400pt;">
        <h1>Beep Boop!</h1>
        <h4>Commemorate an iconic piece of CMU history</h4>
        <br>
        <button class="btn btn-success" style="width: 80%; margin-left: 10%; aspect-ratio: 1; font-weight: bold; border-radius: 100%; font-size: 50pt;" onclick="beepboop();">Beep the Boop!</button>
        <br>
        <br>
        <br>
        <p>Developed as a collaboration between the <a href="https://roboticsclub.org/" target="_blank">CMU Robotics Club</a> and <a href="https://abtech.org/" target="_blank">AB Tech</a>.</p>
    </div>
</body>
</html>
